<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logotipo_estrella"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logotipo_estrella"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMCT"
        tools:targetApi="31">

        <!-- CLAVE API DE GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCaTKZyCuZqu38q21xgXRIfhKazfOm1L80" />

        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modelo.admo.EleccionGestion" />
        <activity android:name=".modelo.admo.gestion_clientes.AltaModificacionCliente" />
        <activity android:name=".modelo.admo.gestion_clientes.VerClientes" />
        <activity android:name=".modelo.admo.gestion_trabajadores.GestionTrabajadores" />
        <activity android:name=".modelo.admo.gestion_trabajadores.VerTrabajadores" />
        <activity android:name=".modelo.admo.gestion_trabajadores.ListaTrabajadoresAsignarTrabajo" />
        <activity android:name=".modelo.admo.gestion_trabajadores.AsignarTrabajo" />
        <activity android:name=".modelo.admo.gestion_trabajadores.BuscarTrabajador" />
        <activity android:name=".modelo.admo.gestion_trabajadores.Valoraciones" />
        <activity android:name=".modelo.admo.gestion_trabajadores.ListaTrabajadoresIncidencias" />
        <activity android:name=".modelo.admo.gestion_trabajadores.Fichaje" />
        <activity android:name=".modelo.admo.gestion_trabajadores.AltaTrabajador" />
        <activity android:name=".modelo.admo.gestion_trabajadores.ModificacionTrabajador" />
        <activity android:name=".modelo.cliente.EleccionCliente" />
        <activity android:name=".modelo.cliente.Valorar" />
        <activity android:name=".modelo.cliente.RegistrarNecesidades" />
        <activity android:name=".modelo.trabajador.EleccionTrabajador" />
        <activity android:name=".modelo.trabajador.Incidencia" />
        <activity android:name=".modelo.trabajador.ListaClientesHorario" />
        <activity android:name=".modelo.trabajador.DatosCliente" />
    </application>

</manifest>